.bg{
  background-color: #ffff;
}

.cor-jumb1{
  background-color: #89c9c5;
}

.mg{
  margin: 0px 200px;
}

.mg1{
  margin: -30px 0px;
}
.jbcor{
  background-color: #ffff;
}
.mg2{
  margin-top: 30px;
}

