.bg-jumbotrom{
    background-color: #418B88;
}
.fs-15{
    font-size: 15pt;
}
.fs-20{
    font-size: 20pt;
}
.cor-card{
    background-color: #2e5266;
    border: none;
}
.fs-25{
    font-size: 25pt;
}

.cardcolor{
   background-color: #89c9c5;
}
