<app-menu></app-menu>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 altura-img" src="../../assets/img/WhatsApp Image 2021-06-26 at 17.44.24.png" alt="Primeiro Slide">
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid bg-jumbotrom">
    <div class="container">
      <h1 class="display-4 text-light font-weight-bold">Quer saber um pouco mais sobre a gente?</h1>
      <p class="lead">Este é um jumbotron modificado que ocupa todo o espaço horizontal de seu elemento pai.</p>
    </div>
</div>

<app-rodape></app-rodape>