.cor-jumb{
background-color: #89c9c5;
}

.ft-size{
  font-size: larger;
}

.cor-jumb-dev{
  background-color: #2e5266;
}

.border-card{
border:none;
}

.cor-card{
background-color: #89c9c5;
}

.ft-nome{
font-size: 30px;
}
