.cor-jumb{
background-color: #89c9c5;
}

.ft-size{
  font-size: larger;
}

.cor-jumb-dev{
  background-color: #2e5266;
}

.border-card{
border:none;
}

.cor-card{
background-color: #89c9c5;
}

.ft-nome{
font-size: 30px;
}



/* Card Flip */


.flip-card {
  background-color: transparent;
  width: 220px;
  height: 276px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #349890;
  color: white;
  transform: rotateY(180deg);
}

.margin{
  margin: 0px 0px 0px -90px;
 ;
}


.margin1{
  margin: 0px 0px 0px -60px;

}


.margin2{
  margin: 0px 0px 0px -30px;

}

.margin3{
  margin: 0px 0px 0px 0px;

}
.margin4{
  margin: 0px 0px 0px 30px;

}

.fs-15{
  font-size: 15pt;
}


.texto {
  font-family: Arial;
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity .2s linear;
  background-color: rgba(0, 0, 0, .7);
}

.imagem:hover .texto {
  opacity: 1;
}

.jumbcolor{
  background-color: #e9edeb;
}


