<app-menu></app-menu>


<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid cor-jumb">
  <div class="container">
    <h1 class="text-center">Quem somos?</h1>
    <p class="ft-size">Somos um e-commerce com intuito de realizar a venda de medicamentos com um valor acessivel e
      produtos naturais e sustentáveis.
      Temos em nossa empresa a visão de estimular a doação de sangue, doação de medicamentos e descarte correto de
      remédios.
    </p>
  </div>
</div>

<!--Missao/Visao/Valor-->
<!--Card -->

<h3 class="text-center mb-4"> Conheça mais...</h3>

<div class="container">
  <div class="row d-flex align-items-center">
    <div class="col-md-6 mb-4">
      <img class="img-fluid" src="../../assets/img/missao2.jpeg" alt="" width="470px" height="240px">

    </div>

    <div class="col-md-6">
      <h4 class="card-title d-flex justify-content-center text-center mb-4 font-weight-bold">Missão</h4>
      <p class="card-text  text-justify fs-15 ">Reduzir o valor dos medicamentos e produtos sustentáveis para fácil
        acesso dos nossos usuários. Nosso sonho é fazer todos terem a oportunidade de ter acesso a esses produtos,
        especialmente a população que não possui muitos recursos financeiros.</p>
    </div>

  </div>

  <div class="row d-flex align-items-center">
    <div class="col-md-6 mb-4">
      <img class="img-fluid" src="../../assets/img/visao2.jpeg" alt="" width="470px" height="240px">

    </div>

    <div class="col-md-6">
      <h4 class="card-title d-flex justify-content-center text-center font-weight-bold">Visão</h4>
      <p class="card-text  text-justify fs-15 ">Reduzir a taxa de mortalidade possibilitando o tratamento de doenças
        através do uso de medicamentos, melhorando a qualidade de vida da população.</p>
    </div>

  </div>

  <div class="row d-flex align-items-center">
    <div class="col-md-6 mb-4">

      <img class="img-fluid" src="../../assets/img/valores2.jpeg" alt="" width="470px" height="240px">

    </div>

    <div class="col-md-6">
      <h4 class="card-title d-flex justify-content-center text-center font-weight-bold">Valores</h4>
      <p class="card-text  text-justify fs-15 ">Como valor, temos o objetivo de ter responsabilidade com a preservação
        da saúde, gerando inclusão de todos. Prezamos também pela vida em primeiro lugar, tendo como compromisso a
        responsabilidade, respeito, integridade. Temos como objetivo preservar nosso planeta.</p>
    </div>

  </div>
</div>

<!--Missao/Visao/Valor-->

<!--Desenvolvedores-->

<!--Jumbotron-->

<!-- <h2 class="text-center mb-4">Nossos Desenvolvedores</h2>
<div class="jumbotron jumbotron-fluid cor-jumb-dev ">
  <div class="container ">


    <div class="container-fluid d-flex">
      <div class="card ml-4 border-card cor-card" style="width: 18rem;">

        <img class="card-img-top" src="../../assets/img/bruno.jpeg" alt="Imagem de capa do card">
        <div class="card-body">
          <div class="row justify-content-center">
            <p class="card-text font-weight-bold ft-nome">Bruno </p>
          </div>
          <div class="row justify-content-center mt-4">
            <img class="mr-3 " width="40px" height="40px" src="../../assets/img/github.png">
            <img width="40px" height="40px" src="../../assets/img/logotipo-do-linkedin.png">
          </div>

        </div>
      </div>

      <div class="card ml-4 border-card cor-card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/fabi.jpeg" alt="Imagem de capa do card">
        <div class="card-body">
          <div class="row justify-content-center">
            <p class="card-text font-weight-bold ft-nome">Fabiana </p>
          </div>
          <div class="row justify-content-center mt-4">
            <img class="mr-3 " width="40px" height="40px" src="../../assets/img/github.png">
            <img width="40px" height="40px" src="../../assets/img/logotipo-do-linkedin.png">
          </div>

        </div>
      </div>

      <div class="card ml-4 border-card cor-card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/felipe.jpeg" alt="Imagem de capa do card">
        <div class="card-body">
          <div class="row justify-content-center">
            <p class="card-text font-weight-bold ft-nome">Felipe </p>
          </div>
          <div class="row justify-content-center mt-4">
            <img class="mr-3 " width="40px" height="40px" src="../../assets/img/github.png">
            <img width="40px" height="40px" src="../../assets/img/logotipo-do-linkedin.png">
          </div>

        </div>
      </div>

      <div class="card ml-4 border-card cor-card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/karol.jpeg" alt="Imagem de capa do card">
        <div class="card-body">
          <div class="row justify-content-center">
            <p class="card-text font-weight-bold ft-nome">Karol </p>
          </div>
          <div class="row justify-content-center mt-4">
            <img class="mr-3 " width="40px" height="40px" src="../../assets/img/github.png">
            <img width="40px" height="40px" src="../../assets/img/logotipo-do-linkedin.png">
          </div>

        </div>
      </div>

      <div class="card ml-4 border-card cor-card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/ismar.jpeg" alt="Imagem de capa do card">
        <div class="card-body">
          <div class="row justify-content-center">
            <p class="card-text font-weight-bold ft-nome">Ismar </p>
          </div>
          <div class="row justify-content-center mt-4">
            <img class="mr-3 " width="40px" height="40px" src="../../assets/img/github.png">
            <img width="40px" height="40px" src="../../assets/img/logotipo-do-linkedin.png">
          </div>

        </div>
      </div>
    </div>
  </div>
</div> -->
<!--/Jumbotron/Desenvolvedores-->





<h2 class="text-center mb-5">Equipe</h2>
<div class="jumbotron jumbotron-fluid cor-jumb-dev ">
  <h4 class="text-center mb-5 text-light">Passe o mouse para conhecer mais sobre nossos desenvolvedores</h4>
  <div class="container d-flex">


    <div class="container-fluid d-flex ml-4  ">

      <div class="flip-card ">
        <div class="flip-card-inner margin">
          <div class="flip-card-front">
            <img class="img-fluid" src="../../assets/img/bruno.jpeg" alt="Avatar" style="width:220px;height:276px;">
          </div>
          <div class="flip-card-back">
            <h1>Bruno</h1>
            <p>Desenvolvedor</p>
            <p class="mb-2">Java Full-Stack Jr.</p>
            <div class="row justify-content-center mt-5">
              <a href="https://github.com/BrunoAfonsoHenrique" target="_blank"> <img class="mr-4 " width="40px"
                  height="40px" src="../../assets/img/github.png"></a>
              <a href="https://www.linkedin.com/in/bruno-afonso-henrique/" target="_blank"> <img width="40px"
                  height="40px" src="../../assets/img/logotipo-do-linkedin.png"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner margin1">
          <div class="flip-card-front">
            <img class="img-fluid" src="../../assets/img/fabi.jpeg" alt="Avatar" style="width:220px;height:276px;">
          </div>
          <div class="flip-card-back">
            <h1>Fabiana</h1>
            <p>Desenvolvedora</p>
            <p class="mb-2">Java Full-Stack Jr.</p>
            <div class="row justify-content-center mt-5">
              <a href="https://github.com/Tavarina" target="_blank"><img class="mr-4 " width="40px" height="40px"
                  src="../../assets/img/github.png"></a>
              <a href="https://www.linkedin.com/in/fabianaoli/" target="_blank"> <img width="40px" height="40px"
                  src="../../assets/img/logotipo-do-linkedin.png"> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner margin2">
          <div class="flip-card-front">
            <img class="img-fluid" src="../../assets/img/felipe.jpeg" alt="Avatar" style="width:220px;height: 276px;">
          </div>
          <div class="flip-card-back">
            <h1>Felipe</h1>
            <p>Desenvolvedor</p>
            <p class="mb-2">Java Full-Stack Jr.</p>
            <div class="row justify-content-center mt-5">
              <a href="https://github.com/Felipe-Silva93" target="_blank"> <img class="mr-4 " width="40px" href=""
                  height="40px" src="../../assets/img/github.png"></a>
              <a href="https://www.linkedin.com/in/felipe-silva-dev/" target="_blank"> <img width="40px" height="40px"
                  src="../../assets/img/logotipo-do-linkedin.png"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner margin3">
          <div class="flip-card-front">
            <img class="img-fluid" src="../../assets/img/karol.jpeg" alt="Avatar" style="width:220px;height: 276px;">
          </div>
          <div class="flip-card-back">
            <h1>Karol</h1>
            <p>Desenvolvedora</p>
            <p class="mb-2">Java Full-Stack Jr.</p>

            <div class="row justify-content-center mt-5">
              <a href="https://github.com/karolinaq20" target="_blank"> <img class="mr-4 " width="40px" height="40px"
                  src="../../assets/img/github.png"></a>
              <a href="https://www.linkedin.com/in/karolina-queiroz/" target="_blank"> <img width="40px" height="40px"
                  src="../../assets/img/logotipo-do-linkedin.png"> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner margin4">
          <div class="flip-card-front">
            <img class="img-fluid" src="../../assets/img/ismar.jpeg" alt="Avatar" style="width:220px;height:276px;">
          </div>
          <div class="flip-card-back">
            <h1>Ismar</h1>
            <p>Desenvolvedor</p>
            <p class="mb-2">Java Full-Stack Jr.</p>
            <div class="row justify-content-center mt-5 ">
              <a href="https://github.com/ismarps" target="_blank"> <img class="mr-4 " width="40px" height="40px"
                  src="../../assets/img/github.png"> </a>
              <a href="https://www.linkedin.com/in/ismarpls/" target="_blank"> <img width="40px" height="40px"
                  src="../../assets/img/logotipo-do-linkedin.png"></a>
            </div>


          </div>
        </div>
      </div>









    </div>
  </div>
</div>

<!-- /Jumbotron/Card Flip -->

<!--Formulario-->

<div class="container mb-4">
  <h4 class="text-center mb-4">Fale conosco</h4>
  <form #f="ngForm">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" id='nome' placeholder="Nome Completo">
      </div>
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1"></label>
      <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com">
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1"></label>
      <textarea class="form-control" style="resize: none" id="exampleFormControlTextarea1" placeholder="Deixe sua mensagem" rows="3"
        id="assunto"></textarea>
      <div id='txtAssunto'></div>
    </div>

    <div class="form-group d-flex justify-content-end">
      <button type="submit" class="btn btn-outline-success" (click)='enviar()'>Enviar</button>
    </div>

  </form>
</div>

<!--/Formulario-->




<app-rodape></app-rodape>
