<style>
    @import url('http://fonts.cdnfonts.com/css/constantine');
</style>
<nav class="navbar navbar-expand-lg navbar-light barra-navegacao fixed-top">
    <a class="navbar-brand text-light letra" href="#">E-N@TU</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto navbar-nav ml-auto text-center">
            <li class="nav-item active">
                <a class="nav-link text-light font-weight-bold " href="#">Home <span class="sr-only">(página atual)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link text-light font-weight-bold" routerLink='/usuario-produto'>Produtos <span class="sr-only">(página atual)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link text-light font-weight-bold" routerLink='/quem-somos'>Quem somos <span class="sr-only">(página atual)</span></a>
            </li>

           

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit" routerLink = "/entrar">Entrar</button>
        </form>
    </div>
</nav>
