.barra-navegacao{
    background-color: #2E5266;
    color: white;
}

.letra{
    font-family: 'Constantine', sans-serif;
    font-size:25px;
    letter-spacing:0;
    font-style:normal;
    font-weight:400;
    color: rgba(35,82,124,1);
}