<app-menu *ngIf='!auth.logado()'></app-menu>
<app-menu2 *ngIf='auth.logado()'></app-menu2>
<div class="container">
    <div class="pt-5 row d-flex justify-content-center align-items-center">

        <div class="col-md-4">
            <a type="button" routerLink="/usuario-produto"><i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>



<div *ngIf="codigo != 0" class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center pb-4 shadow-lg p-3 mb-5 bg-white rounded">

        <div class="col-md-12">

            <div class="row d-flex justify-content-center ">

                <div class="col-md-4 pt-4 border">

                    <div class="row">

                        <div class="col-md-6">
                            <img class="rounded-left img-fluid shadow-lg p-3 mb-5 bg-white rounded" [src]="produto.fotoProduto"
                                alt="Foto do(a) {{produto.nomeProduto}}">
                        </div>

                        <div class="col-md-6">
                            <h5 class="font-weight-bolder">{{produto.nomeProduto}}</h5>
                            <p class="font-weight-lighte">{{produto.descricao}}</p>
                        </div>

                    </div>

                </div>

                <div class="col-md-2 pt-4 border text-center">
                    <h4>PREÇO</h4>
                    <h6>R${{produto.preco}}</h6>
                </div>

                <div class="col-md-2 pt-5 border text-center">
                    <button class="btn btn-warning" (click)="retirar()">-</button>
                    <label class="border pl-2 pr-2">{{quantidade}}</label>
                    <button class="btn btn-info" (click)="acrescentar()">+</button>
                </div>

                <div class="col-md-4 border-left">
                    <h1 class="font-weight-bold">Resumo</h1>
                    <hr>

                    <div class="row-md-3 align-self-center">

                        <h6>{{quantidade}} produto(s) | Preço total: <b>R${{quantidade * produto.preco | number:
                                '1.2'}}</b>
                        </h6>

                    </div>

                    <hr>

                    <div class="row-md-1">
                        <button class="btn btn-danger w-100" data-toggle="modal"
                            data-target="#pagamento">Comprar</button>

                    </div>

                </div>

            </div>


        </div>

    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="pagamento" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="pagamento" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Pagamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="input-group mb-3">

                    <div class="input-group-prepend">
                        <label class="input-group-text" for="formadepagamento">Forma de pagamento</label>
                    </div>

                    <select [(ngModel)]="validaPagamento" class="custom-select" id="formadepagamento"
                        (change)="validarPagamento(validaPagamento)">
                        <option value="" disabled selected>Selecione</option>
                        <option value="cartao">Cartão</option>
                        <option value="boleto">Boleto</option>
                    </select>
                </div>

                <div *ngIf="validaPagamento == 'boleto'" class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Digite seu email" aria-label="email"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">@exemplo.com</span>
                    </div>
                </div>

                <form *ngIf="validaPagamento == 'cartao'" class="checkout">
                    <p>
                        <input type="text" class="p-2 m-2" placeholder="Seu nome">
                        <input type="text" class="p-2 m-2" placeholder="Mês/vencimento">
                        <input type="text" class="p-2 m-2" placeholder="Ano/vencimento">
                    </p>
                    <p>
                        <input type="text" class="p-2 m-2" placeholder="4111 1111 1111 1111">
                        <input type="text" class="p-2 m-2" alt="Código de segurança" placeholder="CVC">
                    </p>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="finalizarVenda()" data-dismiss="modal">Finalizar
                    compra</button>
            </div>

        </div>
    </div>
</div>
<footer class="page-footer font-small pt-4 rodape-baixo rodape">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12  d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/generationbrasil/" target="_blank" class="icoFacebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>

                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Ffeed%2F&fromSignIn=true&trk=cold_join_sign_in"
                            target="_blank" class="icoLinkdin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
    <div class="footer-copyright rodape2 text-center py-3">
        <span class="text-light"> &copy;2021 Copyright: </span>
        <a class="text-light" target="_blank" href="https://brazil.generation.org/">gereration.brasil.org</a>
    </div>


</footer>